@font-face {
  font-family: Clashdisplay;
  src: url('../fonts/ClashDisplay-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Clashdisplay;
  src: url('../fonts/ClashDisplay-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Clashdisplay;
  src: url('../fonts/ClashDisplay-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Wsstubed;
  src: url('../fonts/WSStubed-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --dark: #1f1f1f;
  --light: #f1f1f1;
  --less-dark: #373737;
  --less-light: #cbcbcb;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: #333;
  background-color: #f1f1f1;
  font-family: Satoshi, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.heading {
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1;
}

.logo-flexd {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: row;
}

.button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: var(--dark);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: -.5rem;
  padding: .5rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button-secondary {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  transform: scale3d(1none, 1none, 1none);
  color: var(--dark);
  white-space: nowrap;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
}

.button-secondary:hover {
  opacity: .8;
  transform: scale(.95);
}

.image-wrapper-8-5 {
  aspect-ratio: 16 / 9;
  width: 100%;
  font-size: 1vw;
  line-height: 1.2;
  position: relative;
}

.project_component {
  position: relative;
}

.reading-list_row {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #fff;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: center start;
  width: 100%;
  padding: 1rem 1.25rem;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
  position: relative;
}

.reading-list_row:hover {
  color: #000;
  background-color: #ff73b9;
}

.button-secondary-2 {
  grid-column-gap: .375rem;
  grid-row-gap: .375rem;
  color: #141414;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: -.5rem;
  padding: .5rem;
  font-weight: 600;
  display: flex;
  position: relative;
}

.arrow-icon-embed {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.2vw;
  height: 1.2vw;
  display: flex;
  position: relative;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 40vw;
  display: flex;
}

.heading-2 {
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5vw;
  line-height: 1.2;
}

.navigation {
  z-index: 900;
  position: fixed;
  inset: 0% 0% auto;
}

.naviation-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3vw;
  padding-left: 6.458vw;
  padding-right: 6.458vw;
  display: grid;
}

.logo {
  max-width: 2.2vw;
}

.nav-menu {
  grid-column-gap: .417vw;
  grid-row-gap: .417vw;
  background-color: var(--dark);
  transform-style: preserve-3d;
  border-radius: 200vw;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: .417vw;
  transition: transform .3s;
  display: flex;
  transform: scale3d(.9, .9, .9);
}

.nav-menu:hover {
  transform: none;
}

.nav-menu.port {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  background-color: #1f1f1f00;
}

.nav-link {
  opacity: 1;
  color: var(--light);
  border: .1vw solid #1f1f1f00;
  border-radius: 100vw;
  padding: .417vw .938vw;
  font-size: 1vw;
  line-height: 1.2;
  text-decoration: none;
  transition: background-color .3s;
}

.nav-link:hover {
  border-color: var(--dark);
  background-color: var(--less-dark);
  opacity: 1;
  color: var(--light);
}

.nav-link.w--current {
  background-color: var(--light);
  opacity: 1;
  color: var(--dark);
  border-width: .1vw;
  border-color: #1f1f1f;
}

.nav-link.port {
  background-color: var(--light);
  color: var(--dark);
  border-color: #1f1f1f80;
}

.nav-link.port:hover {
  opacity: 100;
}

.nav-link.current {
  background-color: var(--light);
  color: var(--dark);
}

.hero {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 14vw;
  padding-bottom: 8vw;
  display: flex;
}

.main-blick {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  position: relative;
}

.logo-main {
  width: 10.938vw;
  padding-top: 5vw;
}

.logo-main.larger-on-hover {
  z-index: 10;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  transition: transform .2s;
  position: relative;
}

.logo-main.larger-on-hover:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.background-text {
  z-index: -1;
  opacity: .2;
  color: #cbcbcb;
  text-align: center;
  letter-spacing: .8vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Wsstubed, Arial, sans-serif;
  font-size: 11.047vw;
  line-height: 1.2;
  position: absolute;
  inset: -2vw auto 0%;
}

.title-main-hold {
  justify-content: space-between;
  align-items: center;
  width: 42.083vw;
  display: flex;
  position: absolute;
}

.text-block {
  color: var(--dark);
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Clashdisplay, Arial, sans-serif;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.2;
}

.text-block.for-form {
  font-size: 1vw;
}

.text-block.letter-spacing-animation {
  cursor: default;
  transition: letter-spacing .2s;
}

.text-block.letter-spacing-animation:hover {
  letter-spacing: .1vw;
}

.background-grid {
  z-index: -1;
  opacity: .03;
  position: fixed;
  inset: 0%;
}

.maxed-grid {
  grid-column-gap: 1.593vw;
  grid-row-gap: 1.593vw;
  flex-flow: row;
  flex: 1;
  order: 1;
  grid-template-rows: auto;
  grid-template-columns: 44.448vw auto;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 71vw;
  display: grid;
}

.maxed-grid.flip {
  grid-template-columns: auto 44.448vw;
}

.bento-grid {
  grid-column-gap: 1.593vw;
  grid-row-gap: 1.593vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.427vw;
  padding-bottom: 6vw;
  display: flex;
}

.grid-show {
  aspect-ratio: 16 / 9;
  background-color: var(--dark);
  border-radius: 1.5vw;
  flex-flow: column;
  width: 44.448vw;
  height: auto;
  display: flex;
}

.grid-show.square {
  aspect-ratio: 1;
  object-fit: fill;
  transform-style: preserve-3d;
  border-radius: 1.8vw;
  align-self: stretch;
  width: 25.002vw;
  height: 25.002vw;
  transition: transform .2s;
  position: relative;
  overflow: hidden;
  transform: scale3d(.98, .98, .98);
}

.grid-show.square:hover {
  transform: scale3d(1, 1, .98);
}

.grid-show.square.design {
  transform-style: preserve-3d;
  background-color: #2e499d;
  border-radius: 1.8vw;
  transition: transform .2s;
  transform: scale3d(.98, .98, .98);
}

.grid-show.square.design:hover {
  transform: none;
}

.grid-show.square.coverbat {
  background-color: var(--light);
}

.grid-show._3flow {
  z-index: 100;
  transform-style: preserve-3d;
  background-color: #fddd00;
  border-radius: 1.8vw;
  max-width: 44.448vw;
  height: 25.002vw;
  max-height: 25.002vw;
  transition: transform .2s;
  position: relative;
  overflow: hidden;
  transform: scale(.98);
}

.grid-show._3flow:hover {
  transform: none;
}

.info-block-grid {
  z-index: 1;
  grid-column-gap: .2vw;
  grid-row-gap: .2vw;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: #1f1f1f80;
  flex-flow: column;
  padding: 1.947vw;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.info-block-grid.clotilde {
  background-color: #1f1f1fcc;
}

.bento-blk-text {
  color: var(--light);
  font-family: Satoshi, Verdana, sans-serif;
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 1.2;
}

.bento-blk-text.secondary {
  font-weight: 400;
}

.img-over {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: clip;
}

.arrow-link {
  color: var(--dark);
}

.footer {
  grid-column-gap: 3.333vw;
  grid-row-gap: 3.333vw;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4.167vw;
  padding-left: 6.406vw;
  padding-right: 6.406vw;
  display: flex;
}

.footer.artwork {
  padding-top: 4.167vw;
}

.footer-block {
  grid-column-gap: 3.333vw;
  grid-row-gap: 3.333vw;
  background-color: var(--dark);
  border-radius: 2vw;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3.333vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-block-2 {
  color: var(--light);
  font-family: Satoshi, Verdana, sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: 1.2;
}

.footer-buttons {
  grid-column-gap: .5vw;
  grid-row-gap: .5vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-footer-block {
  z-index: 1;
  grid-column-gap: 1.25vw;
  grid-row-gap: 1.25vw;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-link {
  border: .1vw solid var(--light);
  opacity: 1;
  color: var(--light);
  border-radius: 100vw;
  padding: .625vw 1.25vw;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.footer-link:hover {
  border-color: var(--light);
  background-color: var(--light);
  opacity: 1;
  color: var(--dark);
}

.footer-link.w--current {
  opacity: 1;
}

.footer-link.white {
  border-color: var(--less-light);
  background-color: var(--light);
  color: var(--dark);
}

.footer-link.white:hover {
  background-color: var(--dark);
  color: var(--light);
}

.footer-link.nav {
  grid-column-gap: .8vw;
  grid-row-gap: .8vw;
  border-color: var(--less-light);
  background-color: var(--dark);
  box-shadow: none;
  color: var(--light);
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .4s;
  display: flex;
}

.footer-link.nav:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.footer-link.nav.outline {
  background-color: var(--light);
  color: var(--dark);
}

.footer-link.nav.outline:hover {
  border-color: var(--dark);
}

.inner-footer-div {
  z-index: 1;
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
  background-color: var(--less-dark);
  color: var(--light);
  border-radius: 2.5vw;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  font-size: 1.25vw;
  line-height: 1.2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.inner-footer-tag {
  grid-column-gap: .521vw;
  grid-row-gap: .521vw;
  background-color: var(--dark);
  white-space: nowrap;
  border-radius: 200vw;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: .469vw .938vw;
  font-size: .833vw;
}

.icon-embed-xxsmall-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.8vw;
  height: 1.8vw;
  display: flex;
}

.div-block-8 {
  grid-column-gap: .521vw;
  grid-row-gap: .521vw;
  display: flex;
}

.footer-block-credit {
  grid-column-gap: 3.333vw;
  grid-row-gap: 3.333vw;
  background-color: #fff;
  border-radius: 1.5vw;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2.5vw 3.333vw;
  display: grid;
}

.footer-logo {
  max-width: 1.875vw;
}

.flex-block-6 {
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  color: var(--dark);
  flex-flow: row;
}

.footer-under-text {
  color: var(--dark);
  font-size: 1vw;
  line-height: 1.2;
  text-decoration: none;
}

.footer-under-text.privacy {
  opacity: .5;
}

.privacy-sec {
  grid-column-gap: 1.593vw;
  grid-row-gap: 1.593vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vw;
  padding-bottom: 8vw;
  display: flex;
}

.text-block-3 {
  text-align: center;
}

.about-hero {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vw;
  max-height: 100vh;
  padding: 12.708vw 6.458vw 0;
  display: flex;
  position: relative;
}

.hero-about-tags {
  grid-column-gap: 1.042vw;
  grid-row-gap: 1.042vw;
  flex-flow: column;
  display: flex;
}

.flex-block-7 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

.para-text {
  color: var(--dark);
  text-transform: none;
  font-family: Satoshi, Verdana, sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.2;
}

.hero-about-para {
  grid-column-gap: 1.042vw;
  grid-row-gap: 1.042vw;
  flex-flow: column;
  max-width: 31.25vw;
  display: flex;
}

.floating-img-hold {
  position: absolute;
  inset: 0% 0% auto auto;
}

.floating-img-hold.bottom-right {
  width: auto;
  height: auto;
  inset: auto 0% 0% auto;
}

.hero-about-image {
  border-radius: 200vw;
  max-width: 20.833vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.bento-resume {
  grid-column-gap: 1.653vw;
  grid-row-gap: 1.653vw;
  flex-flow: column;
  padding: 6.458vw;
  display: flex;
}

.tool-icon {
  color: #1f1f1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.2vw;
  height: 2.4vw;
  font-size: 2.5vw;
  display: flex;
}

.role-under-title {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: row;
}

.tools {
  grid-column-gap: 1.875vw;
  grid-row-gap: 1.875vw;
  background-color: #efefef;
  border: .313vw solid #cbcbcb;
  border-radius: 1.875vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 66.2vw;
  padding: 1.875vw;
  display: flex;
}

.job-role-text {
  max-width: 34vw;
  font-size: 1.3vw;
  line-height: 1.2;
}

.job-role-text.for-green {
  color: #fff;
  font-size: 1.3vw;
}

.main-bent {
  grid-column-gap: 1.875vw;
  grid-row-gap: 1.875vw;
  background-color: #efefef;
  border: .313vw solid #cbcbcb;
  border-radius: 1.875vw;
  flex-flow: column;
  width: 70.673vw;
  min-width: 70.673vw;
  height: 100%;
  padding: 1.875vw;
  display: flex;
}

.main-bent.mobile {
  flex: 1;
  align-self: stretch;
  min-width: 63vw;
  min-height: auto;
}

.main-bent.bottom-right-mark {
  background-color: #1f1f1f;
  border-color: #1f1f1f;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: auto;
  height: 100%;
}

.main-bent.skills {
  width: 100%;
  min-width: auto;
  height: auto;
}

.float-tag-tool {
  color: #fff;
  background-color: #1f1f1f;
  border-radius: 200px;
  padding: .365vw .99vw;
  font-size: .833vw;
  line-height: 1.2;
  position: absolute;
  inset: -1vw auto auto 0%;
}

.experience-role {
  grid-column-gap: 1.875vw;
  grid-row-gap: 1.875vw;
  color: #1f1f1f;
  background-color: #fff;
  border-radius: 1.25vw;
  flex-flow: column;
  padding: 1.875vw;
  display: flex;
}

.experience-role.green {
  background-color: #1fa75e;
  border-radius: 1.25vw;
  position: relative;
}

.text-block-5 {
  color: #1f1f1f;
  font-size: 1.771vw;
  font-weight: 500;
  line-height: 1.2;
}

.tool-box {
  grid-column-gap: 1.875vw;
  grid-row-gap: 1.875vw;
  background-color: #fff;
  border: .2vw solid #cbcbcb;
  border-radius: 1.25vw;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 1.771vw;
  display: flex;
  position: relative;
}

.role-detail-left {
  grid-column-gap: .5vw;
  grid-row-gap: .5vw;
}

.flex-block-8 {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.role-title {
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.2;
}

.role-title.for-green {
  color: #fff;
  font-size: 1.6vw;
}

.experience-tools {
  grid-column-gap: 1.653vw;
  grid-row-gap: 1.653vw;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 70.673vw auto;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  display: flex;
}

.role-date {
  color: #1f1f1f;
  font-size: 1vw;
  line-height: 1.2;
}

.role-date.for-green {
  color: #fff;
}

.role-date.for-green.currently {
  color: #1fa75e;
  background-color: #fff;
  border-radius: 200vw;
  padding: .336vw .99vw;
  position: absolute;
  inset: 1.875vw 1.875vw auto auto;
}

.skill-title {
  color: #1f1f1f;
  font-size: 1.667vw;
  line-height: 1.2;
}

.skill-title.for-green {
  color: #fff;
}

.bullet-point {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 1vw;
  display: flex;
}

.bullet-point.green {
  color: #fff;
}

.skill-flex {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.all-skils {
  grid-column-gap: .2vw;
  grid-row-gap: .2vw;
}

.int-tag {
  color: #1f1f1f;
  background-color: #fff;
  border-radius: 200px;
  max-width: 38vw;
  padding: .672vw 1.681vw;
  font-size: 1.3vw;
  line-height: 1.2;
}

.job-role-text-2 {
  max-width: 38vw;
  font-size: 1.25vw;
  line-height: 1.2;
}

.job-role-text-2.for-green {
  color: #fff;
}

.interest-tags {
  grid-column-gap: 1.345vw;
  grid-row-gap: 1.345vw;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.skills-block {
  grid-column-gap: 1.875vw;
  grid-row-gap: 1.875vw;
  color: #1f1f1f;
  background-color: #fff;
  border-radius: 1.25vw;
  flex-flow: column;
  padding: 1.875vw;
  display: flex;
}

.skills-block.green {
  background-color: #1fa75e;
  border-radius: 1.25vw;
  position: relative;
}

.bottom-right {
  grid-column-gap: 1.653vw;
  grid-row-gap: 1.653vw;
  align-self: stretch;
  width: 100%;
  height: 42vw;
}

.text-block-6 {
  color: #1f1f1f;
  font-size: 1.771vw;
  font-weight: 500;
  line-height: 1.2;
}

.bottom-right-title {
  color: #fff;
  font-size: 1.771vw;
  font-weight: 400;
  line-height: 1.2;
}

.bottom-right-title.semi-b {
  font-weight: 600;
}

.skills-interests {
  grid-column-gap: 1.653vw;
  grid-row-gap: 1.653vw;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 70.673vw auto;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  height: 42vw;
  padding: 0;
  display: flex;
  position: relative;
}

.skill-grid {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about-text-title {
  color: var(--dark);
  text-transform: uppercase;
  font-family: Clashdisplay, Arial, sans-serif;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.2;
}

.split5050 {
  background-color: #0000;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: auto;
  display: flex;
}

.div-block-9 {
  width: 50%;
  height: 100%;
  padding: 3.333vw;
}

.div-block-9.white {
  background-color: #0000;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding-top: 6.458vw;
  padding-left: 6.458vw;
  padding-right: 6.458vw;
  display: flex;
  position: relative;
}

.div-block-9.black {
  background-color: #0000;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  width: 55vw;
  min-width: 55vw;
  min-height: 100vh;
  padding: 6.458vw 6.458vw 0;
}

.link {
  color: #2d2d2d;
}

.flex-block-9 {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  display: inline-block;
}

.gallery-spacing {
  height: 2vw;
}

.sticky-flex {
  position: sticky;
  top: 11vw;
}

.tabs-menu {
  border: .5vw solid var(--dark);
  background-color: var(--dark);
  border-radius: 200vw;
  justify-content: space-between;
  align-items: center;
  max-width: 25vw;
  margin-right: auto;
  display: flex;
}

.tab-artwork {
  color: var(--light);
  background-color: #0000;
  border-radius: 200vw;
  padding: 1vw 2vw;
  font-size: 1.2vw;
  line-height: 1.2;
}

.tab-artwork.w--current {
  background-color: var(--light);
  color: var(--dark);
}

.form-section {
  grid-column-gap: 1.593vw;
  grid-row-gap: 1.593vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vw;
  padding-bottom: 8vw;
  display: flex;
}

.artwork-grid {
  grid-column-gap: 1.6vw;
  grid-row-gap: 1.6vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 6.458vw;
  display: grid;
}

.tabs {
  width: auto;
}

.portrait-img {
  aspect-ratio: 1;
  border-radius: 1vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.portrait-img._4by5 {
  aspect-ratio: 4 / 5;
}

.tabs-content {
  overflow: visible;
}

.hero-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1.25vw;
  width: 100%;
  max-width: 71vw;
}

.port-grid-2 {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: row;
  flex: 1;
  order: 1;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: start stretch;
  width: 100%;
  max-width: 71vw;
  display: grid;
}

.port-grid-1 {
  grid-column-gap: 1.593vw;
  grid-row-gap: 1.593vw;
  border-radius: 1.25vw;
  flex-flow: row;
  flex: 1;
  order: 1;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: start stretch;
  width: 100%;
  max-width: 71vw;
  display: flex;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.wide-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 1.25vw;
  width: 100%;
  max-width: 71vw;
}

.wide-image.auto {
  aspect-ratio: auto;
}

.square-img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1.25vw;
  width: 100%;
  max-width: 62.5vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.square-img.auto {
  aspect-ratio: auto;
}

.context-grid {
  grid-column-gap: 6.667vw;
  grid-row-gap: 6.667vw;
  flex-flow: row;
  flex: 1;
  order: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  place-items: start stretch;
  width: 100%;
  max-width: 71vw;
  display: grid;
}

.flex-block-10 {
  grid-column-gap: 4.375vw;
  grid-row-gap: 4.375vw;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-context {
  color: var(--dark);
  font-size: .833vw;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-context.name {
  line-height: 1.4;
}

.portfolio-context.name-title {
  opacity: .2;
}

.context-div-text {
  grid-column-gap: .417vw;
  grid-row-gap: .417vw;
  flex-flow: column;
  display: flex;
}

.context-tags {
  grid-column-gap: .4vw;
  grid-row-gap: .4vw;
  color: var(--dark);
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.icon-embed-xxsmall-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 1vw;
  display: flex;
}

.tags-flex {
  grid-column-gap: .1vw;
  grid-row-gap: .1vw;
  flex-flow: column;
}

.port-grid {
  grid-column-gap: 4.427vw;
  grid-row-gap: 4.427vw;
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.427vw;
  padding-bottom: 8vw;
  display: flex;
}

.image-flow {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.links-port-flex {
  grid-column-gap: .8vw;
  grid-row-gap: .8vw;
  margin-top: 1vw;
  display: flex;
}

.vertical-img {
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 1vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.form-block-contact {
  width: 40vw;
}

.form-field {
  background-color: var(--light);
  color: var(--dark);
  border: .15vw solid #37373733;
  border-radius: .2vw;
  margin-bottom: 0;
  padding: .5vw 1vw;
  font-size: 1vw;
  line-height: 1.2;
}

.form-field:hover {
  border-color: #373737;
}

.form-field:active {
  border-color: var(--dark);
}

.form-field.message {
  border-width: .12vw;
  border-radius: .5vw;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 20vw;
  max-width: 40vw;
  min-height: 5vw;
  max-height: 8vw;
  padding-bottom: .5vw;
  display: flex;
}

.form-field-flex {
  grid-column-gap: .5vw;
  grid-row-gap: .5vw;
  width: 100%;
}

.form-block-flex {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.hard-sub {
  background-color: var(--dark);
  border-radius: .5vw;
  padding: 1vw 2vw;
  font-size: 1.2vw;
  line-height: 1.2;
}

.success-message-2 {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 1vw;
  padding: 2vw;
}

.error-message {
  background-color: #ffb5b5;
  border-radius: .5vw;
  margin-top: 1vw;
  padding: 1vw;
  font-size: 1.2vw;
  line-height: 1.2;
}

.youtube-lightbox {
  border-radius: 1.25vw;
  flex: 1;
  overflow: hidden;
}

.lightbox-link {
  flex: 1;
}

.arrow-bounce-embed, .scramble-text-embed, .grid-slide-embed {
  display: none;
}

.div-block-10 {
  z-index: 0;
  filter: blur(5vw);
  background-color: #000;
  border-radius: 200vw;
  width: 50vw;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% -31vw;
}

.footer-code-embed {
  display: none;
}

.stars-embed {
  z-index: 0;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
  display: flex;
  position: absolute;
  inset: 0%;
}

.second-footer-code-embed, .underline-animation-4-links {
  display: none;
}

.contact-form-buttom {
  border: .1vw solid var(--less-dark);
  background-color: var(--dark);
  opacity: 1;
  color: var(--light);
  transform-style: preserve-3d;
  border-radius: 100vw;
  padding: .8vw 1.25vw;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  transition: transform .3s;
  transform: scale3d(.9, .9, .9);
}

.contact-form-buttom:hover {
  border-color: var(--less-dark);
  background-color: var(--dark);
  opacity: 1;
  color: var(--light);
  transform: scale(1);
}

.contact-form-buttom.w--current {
  opacity: 1;
}

.contact-form-buttom.white {
  border-color: var(--less-light);
  background-color: var(--light);
  color: var(--dark);
}

.contact-form-buttom.white:hover {
  background-color: var(--dark);
  color: var(--light);
}

.contact-form-buttom.nav {
  grid-column-gap: .8vw;
  grid-row-gap: .8vw;
  border-color: var(--less-light);
  background-color: var(--dark);
  box-shadow: none;
  color: var(--light);
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .4s;
  display: flex;
}

.contact-form-buttom.nav:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.contact-form-buttom.nav.outline {
  background-color: var(--light);
  color: var(--dark);
}

.contact-form-buttom.nav.outline:hover {
  border-color: var(--dark);
}

.contact-form-button-shine {
  z-index: -1;
  opacity: .03;
  display: none;
  position: fixed;
  inset: 0%;
}

.footer-block-link {
  border: .1vw solid var(--light);
  opacity: 1;
  color: var(--light);
  transform-style: preserve-3d;
  background-color: #0000;
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  min-width: 7vw;
  padding: .625vw 1.25vw;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  transition: transform .3s;
  display: flex;
  transform: scale3d(.9, .9, .9);
}

.footer-block-link:hover {
  border-color: var(--light);
  background-color: var(--light);
  opacity: 1;
  color: var(--dark);
  transform: scale(1);
}

.footer-block-link.w--current {
  opacity: 1;
}

.footer-block-link.white {
  border-color: var(--less-light);
  background-color: var(--light);
  color: var(--dark);
}

.footer-block-link.white:hover {
  background-color: var(--dark);
  color: var(--light);
}

.footer-block-link.nav {
  grid-column-gap: .8vw;
  grid-row-gap: .8vw;
  border-color: var(--less-light);
  background-color: var(--dark);
  box-shadow: none;
  color: var(--light);
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .4s;
  display: flex;
}

.footer-block-link.nav:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.footer-block-link.nav.outline {
  background-color: var(--light);
  color: var(--dark);
}

.footer-block-link.nav.outline:hover {
  border-color: var(--dark);
}

.rotating-div-footer {
  grid-column-gap: .521vw;
  grid-row-gap: .521vw;
  flex-flow: row;
  display: flex;
}

.grouped-rotation {
  grid-column-gap: .521vw;
  grid-row-gap: .521vw;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .reading-list_row {
    grid-template-columns: 1fr;
  }

  .split5050 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .div-block-9.white {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
    padding: 6vw;
  }

  .div-block-9.black {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6vw;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin: -.5rem;
    padding: .5rem;
    font-size: 1rem;
  }

  .reading-list_row {
    grid-row-gap: .25rem;
    border-top: 1px solid #e5e5e5;
    border-radius: 0;
    grid-template-columns: 1fr;
    padding: .75rem .75rem .75rem 0;
  }

  .reading-list_row:hover {
    background-color: #0000;
  }

  .about-hero {
    height: 60svh;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 5vw;
  }

  .logo-flexd {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    width: 100%;
  }

  .button {
    margin: 0 0;
    padding: 2vw 0;
  }

  .button-secondary {
    font-size: 4vw;
    line-height: 1.4;
  }

  .project_component {
    border-radius: .5vw;
  }

  .reading-list_row {
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  .arrow-icon-embed {
    width: 4vw;
    height: 4vw;
  }

  .naviation-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 8vw;
    display: flex;
  }

  .naviation-container.portfolio {
    justify-content: center;
    align-items: center;
  }

  .logo {
    max-width: 5vw;
  }

  .nav-menu {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin-right: 0;
    padding: 1vw;
    transform: none;
  }

  .nav-menu.port {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-link {
    border-width: .3vw;
    padding: 1vw 2vw;
    font-size: 3vw;
  }

  .nav-link.w--current {
    border-width: .3vw;
  }

  .hero {
    height: 100svh;
  }

  .hero.port-mobile {
    height: 60svh;
  }

  .logo-main {
    width: 20vw;
    padding-top: 1vw;
  }

  .background-text {
    font-size: 13vw;
  }

  .background-text.visual-designer {
    font-size: 12vw;
    top: -.7vw;
  }

  .title-main-hold {
    width: 60vw;
    margin-top: -4.5vw;
  }

  .text-block {
    font-size: 2vw;
  }

  .text-block.for-form {
    font-size: 4vw;
  }

  .maxed-grid {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-columns: 55.68vw auto;
    max-width: 90vw;
  }

  .maxed-grid.flip {
    grid-template-columns: auto 55.68vw;
  }

  .bento-grid {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .grid-show, .grid-show.square {
    width: 31.32vw;
    height: 31.32vw;
  }

  .grid-show.square.design {
    border-radius: 2vw;
  }

  .grid-show._3flow {
    border-radius: 2vw;
    width: 55.68vw;
    max-width: none;
    height: 31.32vw;
    max-height: none;
  }

  .info-block-grid {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .bento-blk-text {
    font-size: 2vw;
  }

  .footer-block {
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    padding-top: 5vw;
  }

  .text-block-2 {
    font-size: 4vw;
  }

  .top-footer-block {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .footer-link {
    border-width: .4vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .footer-link.white {
    font-size: 2.5vw;
  }

  .footer-link.smaller {
    font-size: 2vw;
  }

  .footer-link.nav {
    font-size: 2.5vw;
    display: none;
  }

  .inner-footer-div {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    font-size: 2.5vw;
  }

  .inner-footer-tag {
    padding: 1vw 1.4vw;
    font-size: 1.5vw;
  }

  .icon-embed-xxsmall-2 {
    width: 2vw;
    height: 2vw;
    font-size: 1vw;
  }

  .footer-block-credit {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    border-radius: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
  }

  .footer-logo {
    max-width: 9vw;
  }

  .footer-under-text {
    font-size: 2.5vw;
  }

  .privacy-sec {
    padding-left: 6.406vw;
    padding-right: 6.406vw;
  }

  .about-hero {
    height: 80svh;
    padding-top: 26vw;
  }

  .hero-about-tags {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .flex-block-7 {
    padding-top: 17vw;
  }

  .para-text {
    font-size: 3vw;
  }

  .hero-about-para {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    max-width: 66vw;
  }

  .floating-img-hold.bottom-right {
    flex: none;
    min-height: auto;
    inset: auto 0% 0% auto;
  }

  .hero-about-image {
    max-width: 40vw;
  }

  .bento-resume {
    padding-top: 12vw;
    padding-bottom: 12vw;
  }

  .tools {
    height: 100%;
    min-height: 65vw;
  }

  .main-bent.mobile {
    min-height: 65vw;
  }

  .main-bent.bottom-right-mark {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    height: auto;
  }

  .main-bent.skills {
    height: 43vw;
  }

  .main-bent.skills.int {
    height: auto;
  }

  .text-block-5 {
    font-size: 3vw;
  }

  .interest-tags {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .bottom-right {
    justify-content: space-between;
    align-items: flex-start;
    height: 43vw;
    min-height: 43vw;
  }

  .text-block-6 {
    font-size: 3vw;
  }

  .bottom-right-title {
    font-size: 2vw;
  }

  .about-text-title {
    font-size: 3vw;
  }

  .div-block-9.black {
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
  }

  .gallery-spacing {
    height: 6vw;
  }

  .tabs-menu {
    border-width: .8vw;
    max-width: 55vw;
    display: flex;
  }

  .tab-artwork {
    padding: 1.5vw 4vw;
    font-size: 3vw;
  }

  .form-section {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .artwork-grid {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    grid-template-columns: 1fr 1fr;
  }

  .portrait-img {
    border-radius: 2vw;
  }

  .hero-image {
    max-width: 90vw;
  }

  .port-grid-2 {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    grid-template-columns: auto auto;
    max-width: 90vw;
  }

  .port-grid-1 {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    border-radius: 2vw;
    grid-template-columns: 55.68vw auto;
    max-width: 90vw;
  }

  .wide-image, .square-img {
    border-radius: 2vw;
    max-width: none;
  }

  .context-grid {
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
    flex-flow: column;
    grid-template-columns: 55.68vw auto;
    max-width: 90vw;
    display: flex;
  }

  .portfolio-context.name, .portfolio-context.name-title {
    font-size: 4vw;
  }

  .context-div-text, .context-tags {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
  }

  .icon-embed-xxsmall-3 {
    width: 4vw;
    height: 4vw;
  }

  .port-grid {
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
  }

  .image-flow {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .vertical-img {
    border-radius: 2vw;
  }

  .form-block-contact {
    width: 90vw;
    margin-bottom: 0;
  }

  .form-field {
    font-size: 4vw;
  }

  .form-field.message {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 20vw;
    max-height: 20vw;
  }

  .form-block-flex {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .hard-sub {
    border-radius: 1vw;
    padding: 2vw 4vw;
    font-size: 4vw;
  }

  .contact-form-buttom {
    border-width: .4vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
    display: none;
  }

  .contact-form-buttom.white {
    font-size: 2.5vw;
  }

  .contact-form-buttom.smaller {
    font-size: 2vw;
  }

  .contact-form-buttom.nav {
    font-size: 2.5vw;
    display: none;
  }

  .footer-block-link {
    border-width: .4vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }

  .footer-block-link.white {
    font-size: 2.5vw;
  }

  .footer-block-link.smaller {
    font-size: 2vw;
  }

  .footer-block-link.nav {
    font-size: 2.5vw;
    display: none;
  }
}

#w-node-fe33cf78-bb86-a1b4-9918-78e0b0fa4cf3-944e3589 {
  justify-self: start;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-944e3589 {
  justify-self: end;
}

#w-node-_92294206-c777-2ee7-5aad-921facc9a3bf-944e3589, #w-node-df74910b-b257-1723-0286-4504daaa5e54-944e3589, #w-node-_914faee6-489d-43b3-7205-e1d1a0f675e2-944e3589, #w-node-f9a0e991-c53a-e989-e660-b163ea0abcdf-944e3589, #w-node-dc5aa60f-003d-dc90-a1f3-95568c57df0e-944e3589, #w-node-_3e36c57b-fe7f-a9f4-4156-05ecba160930-944e3589 {
  justify-self: stretch;
}

#w-node-_3e36c57b-fe7f-a9f4-4156-05ecba160937-944e3589 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_777372ff-bfb3-98ee-83f3-8c90ea627bef-944e3589, #w-node-_26e036f0-560a-fd67-3265-edf061fbe2e6-944e3589, #w-node-_91223841-5574-a245-3b36-6190d86f8e3d-944e3589 {
  justify-self: stretch;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-944e3589 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-944e3589 {
  justify-self: end;
}

#w-node-fe33cf78-bb86-a1b4-9918-78e0b0fa4cf3-fcc96bd9 {
  justify-self: start;
}

#w-node-_0e475d36-3b51-f670-6b49-f9c346c18cac-fcc96bd9 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-fcc96bd9 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-fcc96bd9 {
  justify-self: end;
}

#w-node-fe33cf78-bb86-a1b4-9918-78e0b0fa4cf3-3b7828b0 {
  justify-self: start;
}

#w-node-e61eb698-84f1-3736-2bf4-14994dbcf0c4-3b7828b0 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-3b7828b0 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-3b7828b0 {
  justify-self: end;
}

#w-node-fe33cf78-bb86-a1b4-9918-78e0b0fa4cf3-f0e8369a {
  justify-self: start;
}

#w-node-c8275cf6-3c42-9678-e864-f75062b63d8b-f0e8369a {
  justify-self: end;
}

#w-node-_347d9bf8-474c-a8f1-675e-47c2f96998aa-f0e8369a {
  justify-self: center;
}

#w-node-_347d9bf8-474c-a8f1-675e-47c2f96998ad-f0e8369a {
  justify-self: end;
}

#w-node-fe33cf78-bb86-a1b4-9918-78e0b0fa4cf3-1a7d414e {
  justify-self: start;
}

#w-node-df8fc00e-f7f5-c5c4-421f-66a515a6e26d-1a7d414e {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-1a7d414e {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-1a7d414e {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-69ab25a8 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-69ab25a8, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-69ab25a8 {
  justify-self: end;
}

#w-node-_9f611283-891f-023d-223b-a151a78f9189-69ab25a8, #w-node-_1b9c870c-b97e-e308-b9dd-d7e190115e16-69ab25a8, #w-node-_41062e93-1ac4-c817-82b1-a6ac790fce1a-69ab25a8, #w-node-da708553-923c-b6bf-8e7e-79b5fc562519-69ab25a8, #w-node-fa23cdf3-7379-8b31-d9cb-999acf2f6fe8-69ab25a8, #w-node-_9ecb6247-85d3-c5e4-dfbc-4adc294af064-69ab25a8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-69ab25a8 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-69ab25a8 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-4f56d4f5 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-4f56d4f5, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-4f56d4f5 {
  justify-self: end;
}

#w-node-_9f611283-891f-023d-223b-a151a78f9189-4f56d4f5, #w-node-_1b9c870c-b97e-e308-b9dd-d7e190115e16-4f56d4f5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-4f56d4f5 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-4f56d4f5 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-df427f39 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-df427f39, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-df427f39 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-df427f39 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-df427f39 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-73a9f002 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-73a9f002, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-73a9f002 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-73a9f002 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-73a9f002 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-df8b7c25 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-df8b7c25, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-df8b7c25 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-df8b7c25 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-df8b7c25 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-877375e4 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-877375e4, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-877375e4 {
  justify-self: end;
}

#w-node-_1b9c870c-b97e-e308-b9dd-d7e190115e16-877375e4, #w-node-_9f611283-891f-023d-223b-a151a78f9189-877375e4, #w-node-d20d1722-ffd3-fe5c-0a3c-0152ea1b321c-877375e4, #w-node-d20d1722-ffd3-fe5c-0a3c-0152ea1b321e-877375e4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-877375e4 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-877375e4 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-a900533f {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-a900533f, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-a900533f {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-a900533f {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-a900533f {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-84e7f7a4 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-84e7f7a4, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-84e7f7a4 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-84e7f7a4 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-84e7f7a4 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-91150a29 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-91150a29, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-91150a29 {
  justify-self: end;
}

#w-node-_3934b9d9-1500-fc7b-cb6f-e2c55707777b-91150a29, #w-node-_2a556843-f849-dfe6-681d-4355c64261e5-91150a29 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-91150a29 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-91150a29 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-1ec46354 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-1ec46354, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-1ec46354 {
  justify-self: end;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-1ec46354 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-1ec46354 {
  justify-self: end;
}

#w-node-ed4edbfa-5150-d4ca-c3be-d7cf494eae7d-18041f94 {
  justify-self: start;
}

#w-node-_89ea2368-72c6-1603-7b42-d19dd3b8188e-18041f94, #w-node-d73be951-aa10-a8e7-1d35-9c2332d9002e-18041f94 {
  justify-self: end;
}

#w-node-_0e22fef1-bfc8-dbf0-5183-033a35f608d3-18041f94, #w-node-_0e22fef1-bfc8-dbf0-5183-033a35f608d5-18041f94 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_14f23ed3-02c8-0c26-b26e-ff46b48c3f1f-18041f94 {
  justify-self: center;
}

#w-node-_2505ef83-0fb9-335b-3fb1-5ccd075161d0-18041f94 {
  justify-self: end;
}

@media screen and (max-width: 479px) {
  #w-node-_98540b75-6a20-a06a-26e9-d9aa6d938f2e-f0e8369a {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


@font-face {
  font-family: 'Clashdisplay';
  src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clashdisplay';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clashdisplay';
  src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Wsstubed';
  src: url('../fonts/WSStubed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}