:root {
  --light: white;
  --dark: #2d2d2d;
  --less-light: #e2e6ee;
  --pink: #ff73b9;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: #333;
  background-color: #cbcbcb;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.section-divider {
  width: 100%;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.squiggle-illustration {
  filter: invert();
  width: 100%;
}

.squiggle-illustration.mobile {
  filter: invert();
}

.section {
  background-color: var(--light);
  border-radius: 2vw;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.flex-block {
  background-color: #cbcbcb;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
}

.div-block {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
}

.heading {
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1;
}

.heading.logo {
  color: var(--dark);
}

.spacing {
  height: 10vw;
}

.spacing._2 {
  height: 2vw;
}

.div-block-2 {
  aspect-ratio: 1;
  border: .15vw none var(--less-light);
  background-color: var(--light);
  transform: scale3d(1none, 1none, 1none);
  color: #fff;
  transform-style: preserve-3d;
  border-radius: 1.4vw;
  justify-content: center;
  align-items: center;
  max-height: 12vw;
  padding: 2vw;
  transition: transform .33s;
  display: flex;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.div-block-2:hover {
  background-color: var(--less-light);
  transform: scale(.95);
}

.image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.logo-flexd {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: row;
}

.logo-flexd.letter {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.logo-flexd._100 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.top {
  width: 100%;
  padding-top: 0;
  padding-left: 4vw;
}

.flex-block-3 {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
}

.flex-block-3.top {
  z-index: 10;
  background-color: #ffffffe6;
  border-radius: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  position: sticky;
  inset: 0% 0% auto;
}

.para {
  color: var(--dark);
  max-width: 31vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.2;
}

.para.smaller {
  font-size: .9vw;
}

.para-flex {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vw 3vw;
  position: sticky;
}

.first-top {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.navbar_links-wrapper {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  display: flex;
}

.button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: var(--dark);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: -.5rem;
  padding: .5rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button.hide-tablet {
  color: var(--dark);
  margin: -.5vw;
  padding: .5vw;
  font-size: 1vw;
  line-height: 1;
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

.text-size-medium {
  letter-spacing: normal;
  font-size: 1vw;
  line-height: 1.5;
}

.button_underline-wrapper {
  margin: .5rem;
  position: absolute;
  inset: auto 0% -.25rem;
  overflow: hidden;
}

.button_underline {
  background-color: var(--dark);
  width: 100%;
  height: 2px;
  display: none;
}

.main-paras {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: column;
}

.text-span {
  color: var(--dark);
  font-weight: 700;
  text-decoration: none;
  transition: color .2s;
}

.text-span:hover {
  color: var(--pink);
}

.linked {
  color: #f1f1f1;
  text-decoration: none;
}

.div-block-5 {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.button-tertiary {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  opacity: .6;
  color: #737373;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: -.5rem;
  padding: .5rem;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  transition: color .2s;
  display: flex;
  position: relative;
}

.button-tertiary:hover {
  color: #141414;
}

.arrow-icon_component {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.arrow-icon_component.is-pointing-down {
  font-size: 1vw;
  transform: rotate(90deg);
}

.button-secondary {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  transform: scale3d(1none, 1none, 1none);
  color: var(--dark);
  white-space: nowrap;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s;
  display: flex;
  position: relative;
}

.button-secondary:hover {
  opacity: .8;
  transform: scale(.95);
}

.project_image-wrapper {
  cursor: none;
  margin-bottom: 0;
}

.project_details-wrapper {
  z-index: 1;
  text-align: left;
  cursor: auto;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 28rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.image-wrapper-8-5 {
  aspect-ratio: 16 / 9;
  width: 100%;
  font-size: 1vw;
  line-height: 1.2;
  position: relative;
}

.cursor_component {
  z-index: 10;
  cursor: auto;
  position: absolute;
  inset: 0%;
}

.project_content-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5vw;
  display: flex;
}

.arrow-icon_icon {
  color: var(--dark);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.6vw;
  min-width: 1.6vw;
  height: 1.6vw;
  min-height: 1.6vw;
  margin: auto;
  font-size: 1vw;
  line-height: 1;
  display: flex;
  position: absolute;
  inset: 0%;
}

.text-size-medium-2 {
  color: var(--dark);
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1vw;
  line-height: 1.5;
}

.text-size-medium-2.text-weight-normal {
  color: var(--dark);
  font-size: 1vw;
  text-decoration: none;
}

.projects_component {
  grid-column-gap: 4vw;
  grid-row-gap: 4vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  display: grid;
}

.projects_component.secondary {
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start stretch;
  padding-left: 0;
  padding-right: 0;
}

.project_component {
  position: relative;
}

.image-3 {
  object-fit: cover;
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.image-3.border-color-gray200 {
  border: 1px #e5e5e5;
  border-radius: .5vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.title-flex {
  width: 100%;
  padding-bottom: 4vw;
  padding-left: 4vw;
}

.title-flex.contact {
  justify-content: space-between;
  align-items: flex-start;
}

.flex-block-4 {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.flex-block-4:hover {
  opacity: .8;
  transform: scale(.96);
}

.reading-list_wrapper {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  height: 28rem;
  margin-right: -2vw;
  padding-right: 2vw;
  display: grid;
  position: relative;
  overflow: hidden;
}

.reading-list_row {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #fff;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: center start;
  width: 100%;
  padding: 1rem 1.25rem;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
  position: relative;
}

.reading-list_row:hover {
  color: #000;
  background-color: #ff73b9;
}

.reading-list_row.linked {
  display: flex;
}

.reading-list_row.linked:hover {
  background-color: var(--less-light);
}

.button-secondary-2 {
  grid-column-gap: .375rem;
  grid-row-gap: .375rem;
  color: #141414;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  margin: -.5rem;
  padding: .5rem;
  font-weight: 600;
  display: flex;
  position: relative;
}

.reading-list_title {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #1b1b1a;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.text-size-medium-3 {
  letter-spacing: normal;
  font-size: 1rem;
  line-height: 1.5;
}

.text-size-medium-3.text-style-1line {
  color: #1f1f1f;
  font-size: 1.4vw;
  font-weight: 600;
  text-decoration: none;
}

.text-size-medium-3.text-color-gray500 {
  color: #383838;
  line-height: 1;
}

.text-size-medium-3.text-weight-semibold {
  color: var(--dark);
  font-size: 1.2vw;
}

.reading-list_year-wrapper {
  color: #e6e6e6;
  padding-top: 0;
}

.reading-list_wrapper-overlay {
  z-index: 1;
  background-image: linear-gradient(180deg, #fff0, var(--light) 65%);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-end;
  height: 10.5rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.reading-list_component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 3fr;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  display: grid;
}

.reading-list_dot {
  background-color: var(--dark);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 1vw;
  margin-top: 0;
  display: flex;
}

.flex-block-5 {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
}

.image-4 {
  border-radius: 400vw;
  max-width: 20vw;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.playlist {
  border-radius: 1.4vw;
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: 100%;
}

.music-playlist {
  aspect-ratio: 1;
  transform: scale3d(1none, 1none, 1none);
  color: #fff;
  transform-style: preserve-3d;
  background-color: #fff;
  border-radius: 1.4vw;
  justify-content: center;
  align-items: center;
  width: 14vw;
  max-width: 14vw;
  height: 14vw;
  max-height: 14vw;
  padding: 0;
  transition: transform .33s;
  display: flex;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.music-playlist:hover {
  background-color: #eee;
  transform: scale(.95);
}

.movies {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.movie-div {
  aspect-ratio: 2 / 3;
  transform: scale3d(1none, 1none, 1none);
  color: #fff;
  object-fit: cover;
  transform-style: preserve-3d;
  background-color: #fff;
  background-image: url('../images/lalaland.jpg');
  background-position: 0 0;
  background-size: cover;
  border-radius: 1.4vw;
  justify-content: center;
  align-items: center;
  width: 14vw;
  max-height: none;
  padding: 2vw;
  transition: transform .33s;
  display: flex;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.movie-div:hover {
  background-color: #eee;
  transform: scale(.95);
}

.movie-div.whip {
  background-image: url('../images/whiplash.jpg');
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.movie-div.eeaao {
  background-image: url('../images/eeaao.jpg');
}

.movie-div.inside {
  background-image: url('../images/inside.jpg');
}

.movie-div.artwork {
  background-color: var(--light);
  background-image: none;
  width: auto;
  height: 20vw;
  padding: 0;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.movie-div.art {
  background-color: var(--light);
  background-image: none;
  height: 14vw;
  padding: 0;
}

.icon-embed-xxsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.contact {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.form-block {
  width: 40vw;
}

.field {
  background-color: var(--light);
  color: var(--dark);
  border: 1px #000;
  border-radius: 1vw;
  min-height: 4vw;
  margin-bottom: 0;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  font-size: 1.2vw;
  line-height: 1.2;
  box-shadow: 0 0 #0000, 0 1px .4px #00000008, 0 2px .8px #0000000a, 0 3.4px 1.6px #0000000b, 0 5.4px 2.9px #0000000c, 0 8.9px 5.3px #0000000c, 0 15.4px 10.4px #0000000d, 0 30.6px 22.8px #0000000e;
}

.field::placeholder {
  color: #000;
}

.field.msg {
  border-radius: 1vw;
  max-width: 50vw;
  max-height: 30vw;
  padding-top: 1.5vw;
}

.form {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.submit {
  border: .15vw solid var(--less-light);
  background-color: var(--light);
  color: #000;
  border-radius: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.2;
}

.success-message {
  border-radius: 2vw;
  font-size: 1.2vw;
}

.image-5 {
  object-fit: cover;
  border-radius: 1.4vw;
  width: 100%;
  height: 100%;
}

.artwork-wrapper {
  aspect-ratio: 16 / 9;
  cursor: auto;
  width: 100%;
  font-size: 1vw;
  line-height: 1.2;
  position: relative;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 40vw;
  display: flex;
}

.heading-2 {
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5vw;
  line-height: 1.2;
}

.youtube {
  border-radius: .5vw;
  overflow: hidden;
}

.main-logo {
  color: var(--dark);
  max-width: 3vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1;
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }

  .cursor_component {
    cursor: auto;
  }

  .project_content-wrapper {
    grid-template-columns: 1fr;
  }

  .projects_component {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  .reading-list_row {
    grid-template-columns: 1fr;
  }

  .reading-list_year-wrapper {
    padding-top: 0;
  }

  .reading-list_component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .squiggle-illustration.mobile, .navbar_links-wrapper {
    display: none;
  }

  .button {
    margin: -.5rem;
    padding: .5rem;
    font-size: 1rem;
  }

  .text-size-medium, .button-tertiary {
    font-size: 1rem;
  }

  .button-tertiary:hover {
    color: #737373;
  }

  .project_image-wrapper {
    margin-bottom: 1rem;
  }

  .project_details-wrapper {
    display: none;
  }

  .project_content-wrapper {
    grid-template-columns: 1fr;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .projects_component {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .reading-list_wrapper {
    margin-right: -1rem;
    padding-right: 1rem;
  }

  .reading-list_row {
    grid-row-gap: .25rem;
    border-top: 1px solid #e5e5e5;
    border-radius: 0;
    grid-template-columns: 1fr;
    padding: .75rem .75rem .75rem 0;
  }

  .reading-list_row:hover {
    background-color: #0000;
  }

  .text-size-medium-3 {
    font-size: 1rem;
  }

  .reading-list_wrapper-overlay {
    padding-left: 0;
  }
}

@media screen and (max-width: 479px) {
  body {
    background-color: #cbcbcb;
  }

  .flex-block {
    padding: 2vw;
  }

  .div-block {
    flex-flow: row;
    padding-bottom: 14vw;
    overflow: hidden;
  }

  .heading, .heading.logo {
    font-size: 5vw;
  }

  .spacing {
    height: 18vw;
  }

  .spacing.less {
    height: 12vw;
  }

  .div-block-2 {
    width: 16vw;
    height: 16vw;
    max-height: 16vw;
  }

  .image {
    max-width: 10vw;
  }

  .logo-flexd {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    width: 100%;
  }

  .logo-flexd.mobile-grid {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-bottom: 14vw;
    display: grid;
  }

  .logo-flexd.mobile-grid.no-space {
    padding-bottom: 0;
  }

  .logo-flexd._100 {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-bottom: 14vw;
    display: grid;
  }

  .flex-block-3.top {
    padding: 3vw 6vw;
  }

  .para {
    max-width: none;
    font-size: 4vw;
  }

  .para-flex {
    grid-column-gap: 18vw;
    grid-row-gap: 18vw;
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 18vw 6vw;
  }

  .navbar_links-wrapper {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    display: flex;
  }

  .button {
    margin: 0 0;
    padding: 2vw 0;
  }

  .button.hide-tablet {
    display: flex;
  }

  .button.hide-m {
    display: none;
  }

  .text-size-medium {
    font-size: 3vw;
  }

  .main-paras, .div-block-5 {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
  }

  .button-secondary {
    font-size: 4vw;
    line-height: 1.4;
  }

  .project_image-wrapper {
    margin-bottom: 1vw;
  }

  .project_content-wrapper {
    grid-template-columns: 1fr;
    padding-top: 3vw;
  }

  .arrow-icon_icon {
    width: 5vw;
    min-width: 5vw;
    height: 5vw;
    min-height: 5vw;
  }

  .text-size-medium-2.text-weight-normal {
    font-size: 3vw;
  }

  .projects_component {
    grid-column-gap: 14vw;
    grid-row-gap: 14vw;
    padding-bottom: 14vw;
    overflow: hidden;
  }

  .projects_component.secondary {
    grid-template-columns: 1fr;
    overflow: visible;
  }

  .project_component {
    border-radius: .5vw;
  }

  .image-3.border-color-gray200 {
    border-radius: 4vw;
  }

  .title-flex {
    padding-bottom: 6vw;
  }

  .title-flex.contact {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6vw;
  }

  .flex-block-4 {
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
  }

  .reading-list_wrapper {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .reading-list_row {
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  .reading-list_row.linked {
    border-top-style: none;
    border-radius: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .reading-list_row.linked:hover {
    background-color: #ff73b9;
  }

  .text-size-medium-3.text-style-1line, .text-size-medium-3.text-color-gray500 {
    font-size: 3vw;
  }

  .text-size-medium-3.text-weight-semibold {
    font-size: 4vw;
  }

  .reading-list_wrapper-overlay {
    height: 40vw;
  }

  .reading-list_component {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    overflow: hidden;
  }

  .flex-block-5 {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
  }

  .image-4 {
    max-width: 40vw;
  }

  .music-playlist {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  .movie-div {
    width: 20vw;
  }

  .movie-div.artwork {
    width: 100%;
    height: auto;
  }

  .movie-div.art {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
  }

  .form-block {
    width: 100%;
  }

  .field {
    border-radius: 20vw;
    height: 9vw;
    padding-left: 4vw;
    font-size: 3vw;
    line-height: 1.2;
  }

  .field.msg {
    border-radius: 4vw;
    width: 100%;
    max-width: none;
    padding-left: 4vw;
  }

  .form {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .submit {
    margin-top: 2vw;
    font-size: 3vw;
  }

  .image-5, .youtube {
    border-radius: 4vw;
  }

  .main-logo {
    max-width: 8vw;
    font-size: 5vw;
  }
}

#w-node-_45cca344-983e-136e-8d36-609026831e5c-944e3589 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_45cca344-983e-136e-8d36-609026831e63-944e3589 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_45cca344-983e-136e-8d36-609026831e6a-944e3589, #w-node-_81db19ef-2f4d-5724-5445-1d45c850f88b-944e3589, #w-node-fce2512b-467c-4937-e2e7-7e4114c12efc-944e3589, #w-node-bd940425-b685-bf9d-6c92-148b6f88320b-944e3589, #w-node-_3ef3bd86-f1c6-d0a9-e0e0-3e1d51d16bf4-944e3589, #w-node-_7ed53c74-5869-c5c2-caf6-c70316d23869-944e3589, #w-node-a2265512-4d43-14f0-a672-f97628d8bdf6-944e3589, #w-node-a7ef0a8f-9632-965f-3caf-92157ccc079a-944e3589, #w-node-f38027f2-8ea9-5610-dafa-6af764b1612f-944e3589, #w-node-_45cca344-983e-136e-8d36-609026831e71-944e3589, #w-node-_45cca344-983e-136e-8d36-609026831e78-944e3589, #w-node-_45cca344-983e-136e-8d36-609026831e7f-944e3589 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


